/* Brand Colors ------------------------------------------------*/
$color-primary: #212121;
$color-secondary: #00897b;
$color-hover-link: #6c6c6c;
$color-cart: #3949ab;
$color-bg: #e4fdf9;
$color-white: #fff;
/* Brand Font Size ------------------------------------------------*/
